.features-title {
  margin-top: 60px;
  margin-bottom: 25px;
  font-size: 42px;
  color: $main-font-color;
  letter-spacing: 0;
  line-height: 48px;
}

.features-description {
  margin-bottom: 40px;
  font-size: $main-font-size;
  color: $main-font-color;
  letter-spacing: 0;
  line-height: $main-line-height;

  span {
    font-style: italic;
  }
}