.features-note {
  background: #E6F1F9;
  font-size: $main-font-size;
  color: $main-font-color;
  letter-spacing: 0;
  line-height: $main-line-height;
}

.features-note a {
  color: $main-brand-color;
}