section#apps.c-separator
  .container
    .c-separator__description
      | To sum up, Matterlist is a promising Wunderlist alternative that offers unique benefits you won’t find in any other app
      | — such as its timeline, subtasks, contexts and recurring tasks. On the other hand, Matterlist is still a young app:
      | some of the critical features are not yet implemented — and some (like shared lists or file attachments) are missing
      | by design. But in any case, it won’t hurt to give Matterlist a quick try — it's free, and you don't need an account.
      | Just install the app and start playing immediately:
    .c-separator-buttons
      a.c-separator-buttons__android(href='#')
      a.c-separator-buttons__ios(href='#')
