footer.footer
  .footer-top
    .container
      .footer-socials
        | Stay in touch:
        a.footer-socials__fb(href='#')
        a.footer-socials__tw(href='#')
        a.footer-socials__yt(href='#')
      .footer-input
        input.js-email-subscribe-value(placeholder='Your Email' type='text')
        button.footer-input__submit.js-email-subscribe-submit(type='button') SUBSCRIBE
  .footer-bottom
    .container
      .footer-links
        a.footer-links__item(href='/features.html') Features
        a.footer-links__item(href='/pricing.html') Pricing
        a.footer-links__item(href='/blog') Blog
        a.footer-links__item(href='/community') Community
        a.footer-links__item(href='/about.html') About
        a.footer-links__item(href='/contacts.html') Contacts
      .footer-copy
        | Copyright © 2017 Matterlist OÜ. All rights reserved.
      .footer-rules
        a.footer-rules__item(href='/terms-and-conditions.html') Terms and Conditions
        | |
        a.footer-rules__item(href='/privacy-policy.html') Privacy Policy
