nav.nav
  .container
    a.nav__logo(href='/')
    .menu-burger
      .menu-burger__line
      .menu-burger__line
      .menu-burger__line
    .menu
      .menu-close
      a.menu__item(href='/features.html') Features
      a.menu__item(href='/pricing.html') Pricing
      a.menu__item(href='/#apps') Download
