section#apps.c-separator
  .container
    .c-separator__title
      | Start being productive right now!
    .c-separator__description
      | Try Matterlist now: it’s free and doesn’t require an account. Just install the app and start playing with it right away:
    .c-separator-buttons
      a.c-separator-buttons__android(href='#')
      a.c-separator-buttons__ios(href='#')
