section#apps.c-separator
  .container
    .c-separator__title
      | Try Matterlist Now!
    .c-separator__description
      | If you like what Matterlist has to offer, try it now: it’s free and doesn’t require an account. Just install the app and
      | start playing with it right away:
    .c-separator-buttons
      a.c-separator-buttons__android(href='#')
      a.c-separator-buttons__ios(href='#')
