doctype html
html
  head
    title Matterlist | 7 Tips for Being Productive with Matterlist
    include partials/head-shared

  body.article-page
    header.article-head
      include partials/nav
      .container
        h1.article-title
          | 7 Tips for Being Productive with Matterlist

    section.article-content
      .container
        p
          span.article-bold 1. Capture everything.
          |  Write down every task you have. Don’t worry that your list will get long and scary — Matterlist was built precisely to deal with todo list overload.
        p
          span.article-bold 2. Always stay in Today.
          |  The Today view is your ‘homepage’ in Matterlist, and you don’t really need any other views. All tasks accumulate here by default — you won’t miss anything.
        p
          span.article-bold 3. Swipe the clutter away.
          |  Can’t do a task right now? Hide it until the right time: right-swipe it and tell it when to show up again. This lets you focus on tasks you can do right now.
        p
          | And that’s it! The three rules above are more than enough for being productive in Matterlist — they give you 80% of productivity for 20% of effort. However, if you want to get the most out of Matterlist, here are four more tips:
        p
          span.article-bold 4. Don't overuse due dates.
          |  Reserve them for hard deadlines. If a task doesn’t have to be done by a particular day, leave it dateless — Matterlist is friendly to dateless tasks.
        p
          span.article-bold 5. Use actionable wording for tasks:
          span.article-italic “Bob”
          |  is much less informative than 
          span.article-italic “Brainstorm gift ideas for Bob’s birthday.”
          |  You can do this in stages: write it down as 
          span.article-italic “Bob”
          |  first, and refine the text later.
        p
          span.article-bold 6. Break down complex tasks into subtasks.
          |  If you don’t immediately see a clear path for getting a task done, it may be a sign that it needs to be broken down into smaller subtasks.
        p
          span.article-bold 7. Automate your life with recurring tasks.
          |  If you do something regularly, e.g. daily, weekly or monthly, create a recurring task for it. You can easily postpone, delete or edit any particular recurrence without the fear of messing up other recurrences.

    .article-hr
    include partials/start
    include partials/footer