doctype html
html
  head
    title Matterlist | About
    include partials/head-shared

  body.about-page
    header.about-head
      include partials/nav

      .container
        h1.about-title About
        h2.about-description
          | Matterlist OÜ is a small, single-product company fully devoted to developing and improving our flagship product, <a href="/">Matterlist</a>. The company is founded by Vladimir Golovin, who is also a founder of <a href="https://www.filterforge.com/" target="_blank">Filter Forge</a>. To learn more about the history and origins of Matterlist, read <a href="/the-story-of-matterlist.html">The Story of Matterlist</a>.
        .about-hr
    section.about-content
      .container
        h3 Company Information
        ul
          li Name: Matterlist OÜ
          li Address: Sepapaja 6, Tallinn 15551, Estonia
          li Registry code: 14321156
        h3 Contact Us
        p
          | To contact us, please use our <a href="/contacts.html">contact form</a>.

    include partials/footer
