doctype html
html
  head
    title Matterlist | Automatically Activated Contexts
    include partials/head-shared

  body.feature-page
    header.feature-head
      include partials/nav
      .container
        h1.feature-title
          | Automatically-Activated Contexts
          sup BETA
    section.feature-content
      .container
        .feature-image
          img(src='/images/features/04feature.png')
        .feature-info
          p.feature-text
            | Contexts are tags with conditions that let you automatically (or manually) show or hide tasks from your Today view based on some external (or internal) condition: are you at a specific location, is the weather good, am I too tired etc.
          p.feature-text
            | Suppose you have a task ‘Vacuum the floor’. You can’t vacuum the floor unless and until you are at home, so you don’t want this task cluttering your Today view.
          p.feature-text
            | To automatically hide this task from your Today while you’re not at home, you can define a context @Home which activates based on your location, and attach this context to the floor-vacuuming task. And from now on, it will only be visible while you’re at home!
          p.feature-text
            | Manually-activated Contexts are useful too: for example, you can have a @BrainGone or @LowEnergy context and attach it to tasks that don’t require brainpower. Activate that context when you’re tired, and spend your low-energy time productively!
          p.feature-text
            | Contexts are still in early beta. Potentially, Matterlist can have contexts based on external conditions such as location, weather or proximity to people, but currently only the basic Contexts are implemented.
          a.feature-link(href='/features.html') See all features

    include partials/footer