doctype html
html
  head
    title Matterlist | Infinite Timeline
    include partials/head-shared

  body.feature-page
    header.feature-head
      include partials/nav
      .container
        h1.feature-title
          | Infinite Timeline
    section.feature-content
      .container
        .feature-image
          img(src='/images/features/01feature.png')
        .feature-info
          p.feature-text
            | Matterlist is built around an infinite calendar-like timeline, where each day is precisely addressable - you can tap a day in the Weekbar ur jump to literally any day no matter how far in the future, and see what tasks you have for that day. For example you can jump directly to April 20, 2050 and add a task "Buy a flying car".
          p.feature-text
            | The timeline displays recurring tasks as well. For example, if April 20, 2050 is Saturday, and you have a recurring task to "Buy groceries" on Saturdays, you'll see it on that day. What’s more, you can move any particular recurrences of recurring tasks to different days, and the timeline will reflect that.
          a.feature-link(href='/features.html') See all features

    include partials/footer