doctype html
html
  head
    title Matterlist | Instant Fine-Grained Postpone
    include partials/head-shared

  body.feature-page
    header.feature-head
      include partials/nav
      .container
        h1.feature-title
          | Instant Fine-Grained Postpone
    section.feature-content
      .container
        .feature-image
          img(src='/images/features/05feature.png')
        .feature-info
          p.feature-text
            | Can’t do a task right now? Swipe it away and tell it when to show up again. This lets you quickly remove irrelevant tasks and focus on things you can do right now.
          p.feature-text
            | It may sound trivial, but the ability to instantly postpone a task to a different time or date, or just quickly snooze it for an hour or two, is the cornerstone of Matterlist’s power. It lets you quickly de-clutter your todo list and refocus yourself on the present moment.
          p.feature-text
            | Matterlist doesn’t use due dates for postponing tasks. Instead, it uses a separate date, the Hide-Until date (see below), which solves a widespread problem with existing todo apps: the due date pollution.
          p.feature-text
            | Additionally, you can postpone recurrences of recurring tasks the same way you postpone normal tasks.
          a.feature-link(href='/features.html') See all features

    include partials/footer