doctype html
html
  head
    title Matterlist | Separate Hide-Until and Due Dates
    include partials/head-shared

  body.feature-page
    header.feature-head
      include partials/nav
      .container
        h1.feature-title
          | Separate Hide-Until and Due Dates
    section.feature-content
      .container
        .feature-image
          img(src='/images/features/06feature.png')
        .feature-info
          p.feature-text
            | Matterlist uses separate Hide-Until and Due Dates. The former is used for postponing tasks, and the latter for specifying hard deadlines without affecting task visibility.
          p.feature-text
            | Due Dates are reserved for tasks with hard deadlines, which David Allen, the author of Getting Things Done, calls “the hard landscape”. Tasks in Matterlist don't have Due Dates by default, so you should explicitly assign it when needed. Assigning a Due Date doesn't hide the task from your Today view: it just adds a prominent label to it, and marks that day on the timeline.
          p.feature-text
            | The Hide Until date is used for postponing tasks: it defines when the task will appear in your Today view.
          p.feature-text
            | Separating Hide-Until and Due Dates makes Matterlist more friendly to ‘dateless’ tasks and solves the due date pollution, an annoying problem that plagues many existing todo apps, including Wunderlist.
          a.feature-link(href='/features.html') See all features

    include partials/footer