.alternative {
  background: #F6F6F6;
}

.alternative-text {
  margin: 0 auto;
  max-width: 960px;
  margin-top: 20px;
  font-size: 17px;
  color: #323C46;
  letter-spacing: 0;
  line-height: 28px;
  text-align: center;
}

.alternative-screens {
  margin-top: 30px;
  margin-bottom: 50px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.alternative-screen:first-child {
  margin-right: 60px;
}

.alternative-screen--matterlist {
  width: 286px;
  height: 490px;
  background: url('../images/matterlist.png') no-repeat center / contain;
}

.alternative-screen--wunderlist {
  width: 286px;
  height: 490px;
  background: url('../images/wunderlist.png') no-repeat center / contain;
}

.alternative-button {
  margin-top: 30px;
  text-align: center;
}

@media (max-width: 768px) {
  .alternative-text {
    font-size: $main-font-size;
    line-height: $main-line-height;
  }

  .alternative-text a {
    display: inline;
  }

  .alternative-screens {
    display: block;
  }

  .alternative-screen {
    margin: 0 auto;
  }

  .alternative-screen:first-child {
    margin-right: auto;
  }

  .alternative-screen--matterlist {
    margin-bottom: 40px;
  }

  .alternative-screen--matterlist,
  .alternative-screen--wunderlist {
    width: 280px;
    height: 480px;
  }
}