.apps {
  background: #F6F6F6;
}

.apps-text {
  max-width: 1000px;
  margin: 0 auto;

  margin-top: 20px;
  font-size: $main-font-size;
  color: $main-font-color;
  letter-spacing: 0;
  line-height: $main-line-height;
  text-align: center;
}

.apps-phones {
  margin-top: 60px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.apps-phone {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  &:first-child {
    margin-right: 90px;
  }
}

.apps-phone__link {
  margin-top: 60px;
  display: block;
}

.apps-android .apps-phone__image {
  width: 230px;
  height: 490px;
  background: url('../images/samsung.png') no-repeat center / contain;
}

.apps-ios .apps-phone__image {
  width: 245px;
  height: 490px;
  background: url('../images/iphone-x.png') no-repeat center / contain;
}

.apps-android .apps-phone__link {
  // background: url('../images/play.svg') no-repeat center / contain;
  background: url('../images/playstore-comingsoon.svg') no-repeat center / contain;
  pointer-events: none;
  width: 150px;
  height: 45px;
}

.apps-ios .apps-phone__link {
  // background: url('../images/app.svg') no-repeat center / contain;
  background: url('../images/appstore-comingsoon.svg') no-repeat center / contain;
  pointer-events: none;
  width: 150px;
  // height: 45px;
  height: 34px;
}

.apps-phone__link {
  opacity: 0.8;
  transition: opacity .2s ease;
  will-change: opacity;
  border: none;

  &:hover {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .apps-text {
    font-size: $main-font-size;
    line-height: $main-line-height;
  }

  .apps-phones {
    margin-top: 40px;
    display: block;
  }

  .apps-phone:first-child {
    margin-right: auto;
  }

  .apps-phone__link {
    margin-top: 30px;
  }

  .apps-android {
    margin: 0 auto;
  }

  .apps-android .apps-phone__image,
  .apps-ios .apps-phone__image {
    height: 400px;
    width: 188px;
  }

  .apps-ios {
    margin: 0 auto;
    margin-top: 50px;
  }
}