.features {
  background: #FFFFFF;
}

.features-list {
  margin-top: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.features-item {
  flex: 0 0 45%;

  display: flex;
  flex-flow: row nowrap;
}

.features-item--3,
.features-item--4 {
  margin-top: 30px;
}

.features-icon {
  flex: 0 0 60px;
  height: 60px;
  margin-right: 20px;
}

.features-info__title {
  font-size: 20px;
  font-weight: 600;
  color: $main-brand-color;
  letter-spacing: 0;
  line-height: 32px;
  margin-bottom: 10px;

  sup {
    font-size: 10px;
    font-weight: 700;
    top: -14px;
    left: 4px;
  }
}

.features-info__description {
  font-size: $main-font-size;
  color: $main-font-color;
  letter-spacing: 0;
  line-height: $main-line-height;
}

.features-button {
  margin-top: 30px;
  text-align: center;
}

.features-item--1 .features-icon {
  background: url('../images/feature-1@2x.png') no-repeat center / contain;
}

.features-item--2 .features-icon {
  background: url('../images/feature-2@2x.png') no-repeat center / contain;
}

.features-item--3 .features-icon {
  background: url('../images/feature-3@2x.png') no-repeat center / contain;
}

.features-item--4 .features-icon {
  background: url('../images/feature-4@2x.png') no-repeat center / contain;
}

@media (max-width: 768px) {
  .features-list {
    display: block;
  }

  .features-item--2 {
    margin-top: 30px;
  }

  .features-info__title {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0px;
  }

  .features-info__title sup {
    font-size: 10px;
  }

  .features-info__description {
    margin-top: 10px;
    font-size: $main-font-size;
    line-height: $main-line-height;
  }
}