.footer {

}

.footer-top {
  padding: 30px 0;
  background: rgba(50, 60, 70, 0.75);
}

.footer-top .container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.footer-socials {
  font-size: $main-font-size;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: $main-line-height;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.footer-socials__fb,
.footer-socials__tw,
.footer-socials__yt {
  width: 40px;
  height: 40px;
  margin-left: 20px;

  opacity: 0.8;
  transition: opacity .2s ease;
  will-change: opacity;
  border: none;

  &:hover {
    opacity: 1;
  }
}

.footer-socials__fb {
  background: url('../images/facebook.svg') no-repeat center / contain;
}

.footer-socials__tw {
  background: url('../images/twitter.svg') no-repeat center / contain;
}

.footer-socials__yt {
  background: url('../images/youtube.svg') no-repeat center / contain;
}

.footer-input {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.footer-input input {
  padding: 10px 25px;
  background: #FFFFFF;
  border: none;
  border-radius: 100px 0 0 100px;
  outline: none;
  -webkit-appearance: none;

  font-size: $main-font-size;
  color: $main-font-color;
  letter-spacing: 0;
  line-height: $main-line-height;
}

.footer-input__submit {
  padding: 14px 24px;
  background: #4DB5FF;
  cursor: pointer;
  border: 0;

  font-weight: 700;
  font-size: 13px;
  color: #FFFFFF;
  letter-spacing: 1.5px;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 0 100px 100px 0;
}
.footer-input__submit:focus { outline: 0;}

.footer-bottom {
  padding: 45px 0px;
  background: #323C46;
}

.footer-links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.footer-links__item {
  margin-right: 45px;
  font-size: $main-font-size;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: $main-line-height;

  &:hover {
    border-color: #FFFFFF;
  }

  &:last-child {
    margin-right: 0;
  }
}

.footer-copy {
  margin-top: 18px;
  text-align: center;
  opacity: 0.54;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: $main-line-height;
}

.footer-rules {
  margin-top: 8px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  font-size: 13px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 26px;
}

.footer-rules__item {
  margin: 0 20px;
  color: #FFFFFF;
  text-decoration: underline;

  opacity: 0.54;
  transition: opacity .2s ease;
  will-change: opacity;

  &:hover {
    opacity: 1;
    border-color: transparent;
  }
}

@media (max-width: 768px) {
  .footer-top .container {
    display: block;
  }

  .footer-input {
    margin-top: 20px;
  }

  .footer-socials {
    justify-content: center;
    font-size: 14px;
    line-height: $main-line-height;
  }

  .footer-rules__item {
    margin: 0 10px;
  }

  .footer-links {
    margin: 0 auto;
    flex-flow: row wrap;
  }

  .footer-links__item {
    margin-left: 15px;
    margin-right: 15px;
    font-size: $main-font-size;
  }

  .footer-links__item:last-child {
    margin-right: 15px;
  }

  .footer-links__item:first-child {
    margin-left: 15px;
    margin-right: 15px !important;
  }

  .footer-input__submit {
    padding: 10px 14px;
    font-size: 14px;
    line-height: 22px;
  }

  .footer-input input {
    padding: 10px 20px;
    font-size: 14px;
    line-height: 22px;
    width: 100%;
    max-width: 425px;
  }
}