.tips {
  background: #FFFFFF;
}

.tips-text {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 20px;
  font-size: $main-font-size;
  color: $main-font-color;
  letter-spacing: 0;
  line-height: $main-line-height;
  text-align: center;
}

.tips-button {
  margin-top: 30px;
  text-align: center;
}

@media (max-width: 768px) {
  .tips-text {
    font-size: $main-font-size;
    line-height: $main-line-height;
  }
}