.article-page {

}

.article-content {
  padding-bottom: 0;
}

.article-title {
  margin-top: 60px;
  font-size: 42px;
  color: $main-font-color;
  letter-spacing: 0;
  line-height: 52px;
}

.article-subtitle {
  margin-top: 30px;
  font-weight: 600;
}

.article-content h2 {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 22px;
  color: $main-font-color;
  letter-spacing: 0;
  line-height: 32px;
}

.article-content h3 {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: $main-font-size;
  color: $main-font-color;
  letter-spacing: 0;
  line-height: $main-line-height;
}

.article-content p {
  margin-bottom: 26px;
  font-size: $main-font-size;
  color: $main-font-color;
  letter-spacing: 0;
  line-height: $main-line-height;
}

.article-bold {
  font-weight: 700;
}

.article-italic {
  font-style: italic;
}

.article-hr {
  height: 1px;
  background: #C7C7CC;
}

.article-content ul {
  margin-top: 0;
}

.article-content li {
  margin-bottom: 3px;
  font-size: $main-font-size;
  color: $main-font-color;
  letter-spacing: 0;
  line-height: $main-line-height;
}

.article-list li {
  margin-bottom: 25px;
  font-size: $main-font-size;
  color: $main-font-color;
  letter-spacing: 0;
  line-height: $main-line-height;
}

.article-content a {
  color: $main-brand-color;
}

.compare {
  margin-bottom: 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.compare-matterlist {
  margin-right: 60px;
}

.compare-matterlist,
.compare-wunderlist {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.compare-title {
  margin-bottom: 14px;
  font-weight: 700;
  font-size: $main-font-size;
  color: $main-font-color;
  letter-spacing: 0;
}

.compare-matterlist__image {
  width: 360px;
  height: 616px;
  background: url('../images/matterlist.png') no-repeat center / contain;
}

.compare-wunderlist__image {
  width: 360px;
  height: 616px;
  background: url('../images/wunderlist.png') no-repeat center / contain;
}

@media (max-width: 768px) {
  .compare {
    display: block;
  }

  .compare-matterlist {
    margin-right: 0;
    margin-bottom: 25px;
  }
}