.button {
  background: #FFFFFF;
  display: inline-block;
  user-select: none;
  cursor: pointer;
  padding: 13px 50px;
  outline: none;
  font-weight: 700;
  font-size: 13px;
  color: $main-brand-color;
  letter-spacing: 1.5px;
  line-height: 20px;
  text-transform: uppercase;

  border: 2px solid $main-brand-color;
  border-radius: 100px;

  transition: background .2s ease, color .2s ease;
  will-change: background, color;

  &:hover {
    background: $main-brand-color;
    color: #FFFFFF;
  }
}

@media (max-width: 768px) {
  .button {
    padding: 10px 50px;
  }
}