.c-separator {
  padding: 40px 0 65px;
}

.c-separator__title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 22px;
  color: $main-font-color;
  letter-spacing: 0;
  line-height: 32px;
}

.c-separator__description {
  font-size: $main-font-size;
  color: $main-font-color;
  letter-spacing: 0;
  line-height: $main-line-height;
}

.c-separator-buttons {
  margin-top: 25px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.c-separator-buttons__android {
  // background: url('../images/play.svg') no-repeat center / contain;
  background: url('../images/playstore-comingsoon.svg') no-repeat center / contain;
  pointer-events: none;
  width: 150px;
  height: 45px;

  margin-right: 20px;
}

.c-separator-buttons__ios {
  // background: url('../images/app.svg') no-repeat center / contain;
  background: url('../images/appstore-comingsoon.svg') no-repeat center / contain;
  pointer-events: none;
  width: 150px;
  // height: 45px;
  height: 34px;
}

.c-separator-buttons__android,
.c-separator-buttons__ios {
  opacity: 0.8;
  transition: opacity .2s ease;
  will-change: opacity;
  border: none;

  &:hover {
    opacity: 1;
  }
}